<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
    <style>
        .grid {
            margin: auto;
            width: 500px;
            text-align: center;
        }
        
        .grid table {
            width: 100%;
            border-collapse: collapse;
        }
        
        .grid th,
        td {
            padding: 10px;
            border: 1px solid orange;
            height: 35px;
            line-height: 35px;
        }
        
        .grid th {
            background-color: pink;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="grid">
            <div>
                <h1>图书管理</h1>
                <div class="book">
                    <div>
                        <label for="id">
                            编号:
                        </label>
                        <input type="text" id="id" v-model='id' :disabled="flag">
                        <label for="name">
                            名称:
                        </label>
                        <input type="text" id="name" v-model='name'>
                        <button @click='handle'>提交</button>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key='item.id' v-for='item in books'>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>
                            <a href="" @click.prevent='toEdit(item.id)'>修改</a>
                            <a href="" @click.prevent='deletebook(item.id)'>删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                flag: false,
                id: '',
                name: '',
                books: [{
                    id: 1,
                    name: '三国演艺',
                    date: ''
                }, {
                    id: 2,
                    name: '水浒传',
                    date: ''
                }, {
                    id: 3,
                    name: '红楼梦',
                    date: ''
                }, {
                    id: 4,
                    name: '西游记',
                    date: ''
                }]
            },
            methods: {
                handle: function() {
                    if (this.flag) {
                        //编辑
                        this.books.some((item) => {
                            if (item.id == this.id) {
                                item.name = this.name;
                                return true;
                            }
                        });
                        this.flag = false;
                    } else {
                        //添加
                        var book = {};
                        book.id = this.id;
                        book.name = this.name;
                        book.date = '';
                        this.books.push(book);
                        //清空表单
                        this.id = '';
                        this.name = '';
                    }
                    this.id = '';
                    this.name = '';
                },
                toEdit: function(id) {
                    // console.log(id);
                    this.flag = true;
                    var book = this.books.filter(function(item) {
                        // console.log(item.id);
                        return item.id == id;

                    });
                    this.id = book[0].id;
                    this.name = book[0].name;
                },
                deletebook: function(id) {
                    var index = this.books.findIndex(function(item) {
                        return item.id == id;
                    });
                    this.books.splice(index, 1)
                }
            }
        });
    </script>
</body>

</html>